body {
  background-color: #272727;
}
#mainHeader {
  padding: 10px;
}
#mainHeader h1 {
  position: relative;
  margin: 0 auto;
  width: 250px;
  color: #fff;
}
#mainContent {
  margin: 0;
  padding: 0;
  height: auto;
}
#videoContainer {
  position: relative;
  margin: 20px 0;
  padding: 0;
  width: 100%;
}
video {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
}
.videoClass {
  border: 5px solid white;
}
.extraPadding {
  padding: 20px;
}
#outputContainer {
  padding: 10px;
  background-color: #8a8a8a;
}
#timeDisplay:before {
  content: "Time: ";
}
#playbackDisplay:before {
  content: "Playback state: ";
}
#networkDisplay:before {
  content: "Network state: ";
}
#formatDisplay:before {
  content: "Format used: ";
}
#loadedDisplay:before {
  content: "Loading: ";
}
#loopDisplay:before {
  content: "Looped: ";
}
#controlsContainer {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  width: 505px;
  background-color: #d7d7d7;
}
.inputFields {
  width: 40px;
  text-align: center;
}
#seekSlider {
  margin: 10px;
}
form {
  display: inline-block;
}
#mainFooter small {
  position: relative;
  left: 50%;
  margin: 0 0 0 -44px;
  width: 88px;
}
