#mainContent {
  position: relative;
  margin: 0;
  width: auto;
}
#videoContainer {
  position: relative;
  margin: 0 auto;
  background-color: #000;
  width: 640px;
}
video {
  margin: 0;
  padding: 0;
}
