#mainContent {
  margin: 0;
  padding: 0;
  height: auto;
}
video {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
#controlsContainer {
  position: relative;
  margin: 0 auto;
  width: 50%;
  background-color: #666;
}
